<script src="https://kit.fontawesome.com/b4084b3cf0.js" crossorigin="anonymous"></script>

<div class = "container">
  <div class = "row">
    <div class = "px-3 mx-auto">
      <h1>welcome to <i class="fas fa-book"></i><strong>Bookers!!</strong></h1>
    </div>
  </div>
</div>
