<script src="https://kit.fontawesome.com/b4084b3cf0.js" crossorigin="anonymous"></script>

<div class = "container">
 <div class = "row">
  <div class = "mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
<h1>welcome to <i class="fa-solid fa-book"></i><strong>Bookers!!</strong></h1>
<p>In <i class="fa-solid fa-book"></i>Bookers</p>
<p>you can share and exchange your opinions, inpressions, and emotions<br>
about various books!</p>

<div class = "d-grid gap-2 mx-auto">
 <div class = "row m-3">
  <%= link_to "Log in", user_session_path, class: "btn btn-primary btn-block" %>
 </div>
 <div class = "row m-3">
  <%= link_to "Sign up", new_user_registration_path, class: "btn btn-success btn-block" %>
 </div>
</div>

</div>
</div>
</div>
